.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    /* Different number of items per line for different screen sizes */
    flex-wrap: wrap;
    flex: max(400px, 100%/3 - 20px);
  }